#add {
  background-color: #fc5185;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 62px;
  font-weight: 900;
}
